<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ActivityMapper">

    <resultMap type="com.moments.claw.domain.base.entity.Activity" id="ActivityResult">
        <id     property="id"       	column="id"      />
        <result property="publishUserId"       column="publish_user_id"      />
        <result property="title"     column="title"    />
        <result property="content"     column="content"    />
        <result property="imageIds"        column="image_ids"        />
        <result property="thumbCount"  		column="thumb_count"  />
        <result property="viewCount"       column="view_count"          />
        <result property="participantCount"     column="participant_count"     />
        <result property="surplusCount"       column="surplus_count"       />
        <result property="capacity"      column="capacity"     />
        <result property="status"      column="status"     />
        <result property="startTime"      column="start_time"     />
        <result property="endTime"      column="end_time"     />
        <result property="createdBy"    column="created_by"    />
        <result property="createdAt"   	column="created_at"  />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedAt"   	column="updated_at"  />
        <result property="remark"       column="remark"       />
        <result property="delFlag"      column="del_flag"     />
    </resultMap>

    <insert id="insertActivity">
        insert into claw_activity
        (
        <if test="id != null">id,</if>
        <if test="publishUserId != null and publishUserId != ''">publish_user_id,</if>
        <if test="imageIds != null and imageIds != ''">image_ids,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="thumbCount != null and thumbCount != ''">thumb_count,</if>
        <if test="participantCount != null and participantCount != ''">participant_count,</if>
        <if test="surplusCount != null and surplusCount != ''">surplus_count,</if>
        <if test="capacity != null and capacity != ''">capacity,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="startTime != null and startTime != ''">start_time,</if>
        <if test="endTime != null and endTime != ''">end_time,</if>
        <if test="createdBy != null and createdBy != ''">created_by,</if>
        <if test="delFlag != null and delFlag != ''">del_flag,</if>
        <if test="remark != null and remark != ''">remark,</if>
        created_at
        )values(
        <if test="id != null">#{id},</if>
        <if test="publishUserId != null and publishUserId != ''">#{publishUserId},</if>
        <if test="imageIds != null and imageIds != ''">#{imageIds},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="thumbCount != null and thumbCount != ''">#{thumbCount},</if>
        <if test="participantCount != null and participantCount != ''">#{participantCount},</if>
        <if test="surplusCount != null and surplusCount != ''">#{surplusCount},</if>
        <if test="capacity != null and capacity != ''">#{capacity},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="startTime != null and startTime != ''">#{startTime},</if>
        <if test="endTime != null and endTime != ''">#{endTime},</if>
        <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
        <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteActivityById">
        update claw_activity
        set del_flag = '-1'
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectList"  resultMap="ActivityResult">
        select *
        from claw_activity
        where del_flag = '0'
    </select>
</mapper>