<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IntegralItemMapper">

    <resultMap id="IntegralItemResult" type="com.moments.claw.domain.base.entity.IntegralItem">
        <id property="id" column="id" />
        <result column="goods_desc" property="goodsDesc" />
        <result column="goods_score" property="goodsScore" />
        <result column="goods_url" property="goodsUrl" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    
    <insert id="insertIntegralItem">
        insert into claw_integral_item
        (
            <if test="id != null and id != '' ">id,</if>
            <if test="goodsDesc != null and goodsDesc != ''">goods_desc,</if>
            <if test="goodsScore != null and goodsScore != ''">goods_score,</if>
            <if test="goodsUrl != null and goodsUrl != ''">goods_url,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            created_at
        )
        values (
            <if test="id != null and id != ''">#{id},</if>
            <if test="goodsDesc != null and goodsDesc != ''">#{goodsDesc},</if>
            <if test="goodsScore != null and goodsScore != ''">#{goodsScore},</if>
            <if test="goodsUrl != null and goodsUrl != ''">#{goodsUrl},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            sysdate()
        )
    </insert>
    
    <update id="updateIntegralItem">
        update claw_integral_item
        <set>
            <if test="goodsDesc != null and goodsDesc != ''">goods_desc = #{goodsDesc},</if>
            <if test="goodsScore != null and goodsScore != ''">goods_score = #{goodsScore},</if>
            <if test="goodsUrl != null and goodsUrl != ''">goods_url = #{goodsUrl},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteIntegralItem">
        update claw_integral_item
        set del_flag = '-1'
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectIntegralItemList" resultMap="IntegralItemResult">
        select *
        from claw_integral_item
        where del_flag = '0'
        <if test="goodsDesc != null and goodsDesc != ''">
            AND goods_desc like concat('%', #{goodsDesc}, '%')
        </if>
        <if test="params != null and params.beginTime != null"><!-- 开始时间检索 -->
            AND date_format(created_at,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.endTime != null"><!-- 结束时间检索 -->
            AND date_format(created_at,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>
    <select id="selectIntegralById" resultMap="IntegralItemResult">
        select *
        from claw_integral_item
        where id = #{id}
    </select>
</mapper>