<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IntegralItemMapper">

    <resultMap id="IntegralItemResult" type="com.moments.claw.domain.base.entity.IntegralItem">
        <id property="id" column="id" />
        <result column="goods_desc" property="goodsDesc" />
        <result column="goods_score" property="goodsScore" />
        <result column="goods_url" property="goodsUrl" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="selectIntegralItemList" resultMap="IntegralItemResult">
        select *
        from claw_integral_item
        where del_flag = '0'
        <if test="goodsDesc != null and goodsDesc != ''">
            AND goods_desc like concat('%', #{goodsDesc}, '%')
        </if>
        <if test="params != null and params.beginTime != null"><!-- 开始时间检索 -->
            AND date_format(created_at,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.endTime != null"><!-- 结束时间检索 -->
            AND date_format(created_at,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>
</mapper>