<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PetMapper">

    <resultMap type="com.moments.claw.domain.base.entity.Pet" id="PetResult">
        <result property="petId" column="pet_id"/>
        <result property="userId" column="user_id"/>
        <result property="petName" column="pet_name"/>
        <result property="petDesc" column="pet_desc"/>
        <result property="imgUrl" column="img_url"/>
        <result property="category" column="category"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="nickname" column="nickname" />
    </resultMap>
    
    <insert id="insertPet">
        insert into claw_pet
        (
            <if test="petId != null and petId != ''">pet_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="petName != null and petName != ''">pet_name,</if>
            <if test="petDesc != null and petDesc != ''">pet_desc,</if>
            <if test="imgUrl != null and imgUrl != ''">img_url,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="birthday != null and birthday != ''">birthday,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="createdAt != null and createdAt != ''">created_at,</if>
            <if test="updatedAt != null and updatedAt != ''">updated_at,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            created_at
        )values 
        (
            <if test="petId != null and petId != ''">#{petId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="petName != null and petName != ''">#{petName},</if>
            <if test="petDesc != null and petDesc != ''">#{petDesc},</if>
            <if test="imgUrl != null and imgUrl != ''">#{imgUrl},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createdAt != null and createdAt != ''">#{createdAt},</if>
            <if test="updatedAt != null and updatedAt != ''">#{updatedAt},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            sysdate()
        )
    </insert>
    
    <update id="updatePet">
        update claw_pet
        <set>
            <if test="petName != null and petName != ''">pet_name = #{petName},</if>
            <if test="petDesc != null and petDesc != ''">pet_desc = #{petDesc},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null and delFlag != ''">del_flag= #{delFlag},</if>
            updated_at = sysdate()
        </set>
        where pet_id = #{petId}
    </update>

    <delete id="deletePetByIds">
        update claw_pet
        set del_flag = '-1'
        where pet_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPetList" resultMap="PetResult">
        SELECT p.*,u.nickname
        FROM claw_pet p left join claw_user u on p.user_id = u.id
        WHERE p.del_flag = '0'
        <if test="petName != null and petName != ''">
            AND p.pet_name like concat('%', #{petName}, '%')
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.nickname like concat('%', #{nickname}, '%')
        </if>
        <if test="category != null and category != ''">
            AND p.category = #{category}
        </if>
        <if test="params != null and params.beginTime != null"><!-- 开始时间检索 -->
            AND date_format(p.created_at,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.endTime != null"><!-- 结束时间检索 -->
            AND date_format(p.created_at,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectPetById" resultMap="PetResult">
        select p.*,u.nickname
        from claw_pet p left join claw_user u on p.user_id = u.id
        where p.pet_id = #{petId} and p.del_flag = '0'
    </select>

</mapper>